body {
  text-align: center;
  background-color: #011f3f !important;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.pushBtn {
  position: relative;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red !important;
  opacity: 0.8;
}

.red {
  right: 15px;
  top: 15px;
  background-color: red;
  -webkit-border-radius: 20px 320px 20px 20px;
  -moz-border-radius: 20px 320px 20px 20px;
  -o-border-radius: 20px 320px 20px 20px;
  border-radius: 20px 320px 20px 20px;
}

.green {
  left: 15px;
  top: 15px;
  background-color: green;
  -webkit-border-radius: 320px 20px 20px;
  -moz-border-radius: 320px 20px 20px;
  -o-border-radius: 320px 20px 20px;
  border-radius: 320px 20px 20px;
}

.blue {
  bottom: 15px;
  right: 15px;
  background-color: blue;
  -webkit-border-radius: 20px 20px 320px 20px;
  -moz-border-radius: 20px 20px 320px 20px;
  -o-border-radius: 20px 20px 320px 20px;
  border-radius: 20px 20px 320px 20px;
}

.yellow {
  bottom: 15px;
  left: 15px;
  background-color: yellow;
  -webkit-border-radius: 20px 20px 20px 320px;
  -moz-border-radius: 20px 20px 20px 320px;
  -o-border-radius: 20px 20px 20px 320px;
  border-radius: 20px 20px 20px 320px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
    width: 80%;
    margin: auto;
  }

  .pushBtn {
    height: 100px;
    width: 100px;
  }

  #level-title {
    font-size: 2rem; 
  }
}